<div class="account-main">
    <div class="account-header">
        <span>
            <a routerLink="/profile/myaccount"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
        </span>
        <h3>Change Password</h3>
        <p>Feel free to edit any of your details below so your homemade account is totally up to date.</p>
    </div>
    <div class="account-form">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Current Password</label>
                <p *ngIf="currentPassword!.invalid  && (currentPassword!.touched || currentPassword!.dirty)" class="error-msg">
                    Please enter your current password!!</p>
                <input type="password" name="currentPassword" class="form-control" formControlName="currentPassword">
            </div>
            <div class="form-group">
                <label>New Password</label>
                <p *ngIf="newPassword!.invalid  && (newPassword!.touched || newPassword!.dirty)" class="error-msg">
                    Please enter your new password!!</p>
                <input type="password" name="NewPassword" class="form-control" formControlName="NewPassword">
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <p *ngIf="confirmNewPassword!.errors?.required  && (confirmNewPassword!.touched || confirmNewPassword!.dirty)" class="error-msg">
                    Please confirm your new password!!</p>
                <p *ngIf="confirmNewPassword!.errors?.incorrect  && (confirmNewPassword!.touched || confirmNewPassword!.dirty)" class="error-msg">
                    Passwod doesn't match!!</p>
                <input type="password" name="confirmNewPassword" class="form-control" formControlName="confirmNewPassword">
            </div>

            <button type="submit" class="btn_1 gradient full-width type_2">Change Password</button>

        </form>
    </div>
</div>