<div class="hero_in detail_page background-image" style="background: url(assets/images/hero_general.jpg)">
    <div class="wrapper opacity-mask" style="background-color: rgba(0, 0, 0, 0.5);">

        <div class="container-fluid px-50">
            <div class="main_info">
                <h1>Terms & Conditions</h1>
            </div>
            <!-- /main_info -->
        </div>
    </div>
</div>
<!--/hero_in-->


<div class="container-fluid margin_detail_2 px-50 static-page-contents">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, enim deleniti doloremque numquam, hic delectus
        beatae porro non molestias exercitationem vero! Voluptate necessitatibus architecto vitae mollitia. Eum natus
        perferendis officia! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam illo aspernatur quos
        praesentium? Laboriosam consequuntur quis quidem sapiente accusantium cumque asperiores ab perferendis
        architecto ratione? Inventore earum error harum voluptatem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, enim deleniti doloremque numquam, hic delectus
        beatae porro non molestias exercitationem vero! Voluptate necessitatibus architecto vitae mollitia. Eum natus
        perferendis officia! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam illo aspernatur quos
        praesentium? Laboriosam consequuntur quis quidem sapiente accusantium cumque asperiores ab perferendis
        architecto ratione? Inventore earum error harum voluptatem.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam illo aspernatur quos praesentium? Laboriosam
        consequuntur quis quidem sapiente accusantium cumque asperiores ab perferendis architecto ratione? Inventore
        earum error harum voluptatem.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam illo aspernatur quos praesentium? Laboriosam
        consequuntur quis quidem sapiente accusantium cumque asperiores ab perferendis architecto ratione? Inventore
        earum error harum voluptatem.</p>
</div>
<!-- /container -->