<div class="hero_in detail_page background-image hero__breakfast" id="heroId">
    <div class="wrapper opacity-mask">

        <div class="container-fluid px-50">
            <div class="main_info">
                <h1>{{category | titlecase}}</h1>
                <p>Order {{category | titlecase}} foods online</p>
            </div>
            <!-- /main_info -->
        </div>
    </div>
</div>
<!--/hero_in-->

<div class="bg_gray bg_white">
    <div class="container-fluid margin_detail_2 px-50">
        <!-- <div class="card type3" id="section1">
            <div class="main_title">
                <h2>Newly Added</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3" *ngFor="let item of newlyAdded">
                    <div class="cardbody">
                        <a href="javascript:void(0)" routerLink="/foods/detail/{{item.ItemItemId}}">
                            <div class="imgBox">
                                <figure>
                                    <img [src]="item.ItemImageUrl ? item.ItemImageUrl : 'assets/images/lazy-placeholder.png'"
                                        alt="" class="lazy loaded img-fluid" data-was-processed="true">
                                </figure>
                            </div>
                            <div class="contentBox">
                                <div class="pro_detials">
                                    <h3>{{item.ItemName}}</h3>
                                    <p class="price">Rs.{{item.ItemPrice}}</p>
                                </div>
                                <div class="prod_cta">
                                    <a class="btn_1 outline type_3 modal_dialog" href="javascript:void(0)"
                                        (click)="orderNow($event, item)">Order Now</a>
                                </div> -->

        <!-- <p class="availablity">{{item.availability}}</p> -->
        <!-- </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <!--./card ends-->

        <div class="card type3">
            <div class="main_title">
                <h2>Order {{category}}</h2>
            </div>

            <div class="row">
                <div class="col-sm-6 col-lg-3 mb-3" *ngFor="let item of foodData">
                    <div class="cardbody">
                        <a href="javascript:void(0)" routerLink="/foods/detail/{{item.ItemItemId}}">
                            <div class="imgBox">
                                <figure>
                                    <img [src]="item.ItemImageUrl ? item.ItemImageUrl : 'assets/images/lazy-placeholder.png'"
                                        alt="" class="lazy loaded img-fluid" data-was-processed="true">
                                </figure>
                            </div>
                            <div class="contentBox">
                                <div class="pro_detials">
                                    <h3>{{item.ItemName}}</h3>
                                    <p class="price">Rs.{{item.ItemPrice}}</p>
                                </div>
                                <div class="prod_cta">
                                    <a class="btn_1 outline type_3 modal_dialog" href="javascript:void(0)"
                                        (click)="orderNow($event, item)">Order Now</a>
                                </div>

                                <!-- <p class="availablity">{{item.availability}}</p> -->
                            </div>
                        </a>
                    </div>
                </div>
                <!--./-->
            </div>
            <!--./row ends-->
        </div>
        <!--./card ends-->

        <!-- <div class="card type3" id="section1">
            <div class="main_title">
                <h2>Best Sellers</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3" *ngFor="let item of bestSellers">
                    <div class="cardbody">
                        <a href="javascript:void(0)" routerLink="/foods/detail/{{item.ItemItemId}}">
                            <div class="imgBox">
                                <figure>
                                    <img [src]="item.ItemImageUrl ? item.ItemImageUrl : 'assets/images/lazy-placeholder.png'"
                                        alt="" class="lazy loaded img-fluid" data-was-processed="true">
                                </figure>
                            </div>
                            <div class="contentBox">
                                <div class="pro_detials">
                                    <h3>{{item.ItemName}}</h3>
                                    <p class="price">Rs.{{item.ItemPrice}}</p>
                                </div>
                                <div class="prod_cta">
                                    <a class="btn_1 outline type_3 modal_dialog" href="javascript:void(0)"
                                        (click)="orderNow($event, item)">Order Now</a>
                                </div>

                                <p class="availablity">{{item.availability}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <!--./card ends-->

    </div>
    <!-- /container -->
    <!-- <div class="container margin_30_40"> -->
    <!--best chefs-->
    <!-- <div class="row">
            <div class="col-12 main_title">
                <h2>Chefs near you</h2>
            </div>
            <div class="chef_carousel col-12">
                <owl-carousel-o [options]="customOptionsTwo">
                    <ng-container *ngFor="let chef of chefData; let i = index;">
                        <ng-template carouselSlide class="slide" [id]="'image' + i">
                            <div class="item">
                                <div class="chefBox">
                                    <figure>
                                        <a [routerLink]="['/foods/chef',chef.chefId]"><img
                                                [src]="chef.chefImage ? chef.chefImage : 'assets/images/lazy-placeholder.png'"
                                                class="img-fluid lazy" alt=""></a>
                                    </figure>
                                    <div class="cardDetails">
                                        <h3>{{chef.firstname}}</h3>
                                        <div class="score"><strong>{{chef.chefRating}}</strong></div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div> -->
    <!-- /carousel -->
    <!-- </div> -->
    <!--./row-->
    <!-- </div> -->
    <!--container-->

    <div class="container-fluid margin_30_40 px-50">
        <!--best chefs-->
        <div class="row">
            <div class="col-12 main_title">
                <h2>Popular cuisine</h2>
            </div>
            <div class="chef_carousel col-12">
                <owl-carousel-o [options]="customOptionsTwo">
                    <ng-container *ngFor="let cuisine of cuisineData; let i = index;">
                        <ng-template carouselSlide class="slide" [id]="'image' + i">
                            <div class="item">
                                <div class="chefBox">
                                    <figure>
                                        <a (click)="navigateToCuisine(cuisine.ItemName)"><img
                                                [src]="cuisine.ItemImageUrl ? cuisine.ItemImageUrl : 'assets/images/lazy-placeholder.png'"
                                                class="img-fluid lazy" alt=""></a>
                                    </figure>
                                    <div class="cardDetails">
                                        <h3>{{cuisine.ItemName}}</h3>
                                    </div>
                                </div>
                            </div>
                            <!--./-->
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
                <!-- /carousel -->
            </div>
        </div>
        <!--./row-->
    </div>
    <!--container-->
</div>
<!-- /bg_gray -->