<div class="hero_in detail_page background-image" style="background: url(assets/images/hero_general.jpg)">
    <div class="wrapper opacity-mask" style="background-color: rgba(0, 0, 0, 0.5);">

        <div class="container-fluid px-50">
            <div class="main_info">
                <h1>About us</h1>
            </div>
            <!-- /main_info -->
        </div>
    </div>
</div>
<!--/hero_in-->


<div class="container-fluid margin_detail_2 px-50 static-page-contents">

    <p>Homemade is World’s first and only platform that promotes and sells all kinds of items made at home ranging across
        Food, Fashion, Décor, Plants & Planters and many more categories coming up.</p>
    <p>Homemade platform was conceptualized, designed and created proudly in a home of India in September 2020 right in midst
    of the lockdown period and the key purpose was to provide opportunity for families to have a second source of income and
    also for people to have option to get safer, higher quality, hygienic items especially food. Founded by renowned
    Industry Leaders with global experience of over 20 years in online business, Homemade brings the most diverse range of
    items that customers can browse or buy in simple clicks.</p>
    <p>Here is why we raise the highest standards in e-commerce :</p>
    <ul>
        <li>Works only with Home-based creators. We don’t onboard brands, resellers, factory made items or even cloud kitchens. We
        conduct health and hygiene check of every house to ensure highest standards</li>
        <li>Homemade prides in many 1stit brings to market – hot homemade breakfast delivery starting 7 am, subscription meals that
        can be booked 30 days in advance, meal platters starting as low as Rs 60 to suit every pocket, huge variety of organic
        plants and planters grown without any fertilizers, drop-shipping across 26000+ pin codes in India, event and special
        occasion catering,</li>
        <li>18 hours, 365 days of customer service provided via phone, chat, email, FB or Insta messenger. No one provides this
        flexibility to customers to help place order, track order, sell with us etc</li>
        <li>Dedicated team to mentor home creators wherever they need help with skills, menu or pricing</li>
        <li>Most advanced technology platforms built on Microsoft Azure, Freshdesk, Razorpay, Zohobooks etc. to provide the most
        user friendly experience to customers and its partners….and many more</li>
    </ul>
    <p>Starting with NCR for food and plants delivery while rest of the products sourced and shipped across India, Homemade
    promised to be in all major cities of India in a short period of time.</p>
</div>
<!-- /container -->