<div id="register_bg">
    <div id="register" class="gen_title">
        <aside>
            <h1 class="login-title">RECOVER PASSWORD</h1>
            <p class="login-info">Please enter your email</p>
            <form autocomplete="off">
                <div class="form-group">
                    <input class="form-control" type="email" placeholder="Email">
                </div>
                <a href="#0" class="btn_1 gradient full-width">Reset Password</a>
                <div class="text-center mt-2">Back to <strong><a href="javascript:void(0)"
                                [routerLink]="['/auth']">Login</a></strong>
                </div>
            </form>
        </aside>
    </div>
    <!-- /login -->
</div>